{%- assign block_id = 'section-block-' | append: block.type | append: '-' | append: block.id -%}

{%- assign block_class = 'section-block section-block-' | append: block.type | append: ' ' | append: class -%}

<!-- Block: {{ block.type }} -->
<section id="{{ block_id }}" class="{{ block_class }}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">

  {% unless block_title %}
    {%- assign block_title = block.settings.title | escape -%}
  {% endunless %}

  {% comment %}
    Header
  {% endcomment %}
  {% if block_title != blank %}
    <header class="section-block-header">
      <h1 class="section-block-header-heading lhxt">{{ block_title }}</h1>
    </header>
  {% endif %}

  {%- assign class = nil -%}
