{% comment %}
  Variable assignments can be found in the set-product-vars.liquid snippet
{% endcomment %}
<div class="pricing lht">

  <span class="{{ from_class }}">{{ 'products.from' | t }}</span>

  {% include 'price' amount: price, class: price_class %}

  {% if show_compare_at_price %}
    {% include 'price' amount: compare_at_price, class: compare_at_class %}
  {% endif %}

  {%- capture unit_price_separator -%}
    <span class="{{ unit_price_separator_class }}" aria-hidden="true">&sol;</span><span class="{{ unit_price_separator_class }} visually-hidden">{{ 'products.per' | t }}</span>
  {%- endcapture -%}
  {%- capture unit_price_base_unit -%}
    <span class="{{ unit_price_base_unit_class }}">
      {%- if unit_price_measurement.reference_value != 1 -%}
        {{- unit_price_measurement.reference_value -}}
      {%- endif -%}
      {{- unit_price_measurement.reference_unit -}}
    </span>
  {%- endcapture -%}
  <br/>
  {%- include 'price', amount: unit_price, class: unit_price_class -%}{{- unit_price_separator -}}{{- unit_price_base_unit -}}

</div>
