{% include 'settings' %}

{% include 'set-product-vars' product: product, location: location, pricing: pricing, product_class: product_class %}

<article id="{{ product.handle }}" class="{{ product_class }}">

  {% comment %}
    Image
  {% endcomment %}
  {%- assign product_link_url = product.url -%}
  {% include 'image' with product.featured_media, image_link_url: product_link_url, image_alt: product.featured_media.alt %}

  {% comment %}
    Card
  {% endcomment %}
  <div class="product-details">

    {% comment %}
      Title wrap
    {% endcomment %}
    <div class="title-wrap">

      {% comment %}
        Title
      {% endcomment %}
      <header>
        <h3 class="title font-size-16">
          <a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
        </h3>
      </header>

      {% comment %}
        Vendor
      {% endcomment %}
      {% if show_vendor %}
      <div class="vendor lht font-size-14">{{ product.vendor | link_to_vendor }}</div>
      {% endif %}

      {% comment %}
        Sale sticker
      {% endcomment %}
      {% if on_sale and show_sale_sticker %}
      <span class="badge sale sale-sticker">{{ 'collections.on_sale_sticker' | t }}</span>
      {% endif %}

    </div>

    {% comment %}
      Price
    {% endcomment %}
    {% include 'pricing' %}

    {% comment %}
      Actions
    {% endcomment %}
    {% if show_add_to_cart_button %}
      <div class="actions">
        <form action="{{ routes.cart_add_url }}" method="post">

          <input type="hidden" name="id" value="{{ variant.id }}" />

          {% comment %}
            Add to cart / sold out button
          {% endcomment %}
          {% if show_add_to_cart_button %}
            {% if product.available %}
              <button class="add-to-cart button small" type="submit" data-cart-action="{{ settings.cart_type }}">{{ 'products.add_to_cart' | t }}</button>
            {% else %}
              <button class="add-to-cart button small disabled" type="submit" disabled>{{ 'products.sold_out' | t }}</button>
            {% endif %}
          {% endif %}

        </form>
      </div>
    {% endif %}

  </div>

  {% comment %}
    JSON-LD structured data
  {% endcomment %}
  {% render 'json-ld-product', product: product %}

</article>
