{% include 'settings' %}
{% include 'content-open' class:'column-max padding-top-200 padding-bottom-200' %}

<div class="column-extra-narrow">

  {% include 'page-header' class:'text-center' %}

  <p class="message text-center text-light margin-top">{{ 'customer.register.message_html' | t }}</p>

  {% form 'create_customer' %}

    {% include 'form-errors' %}

    {% comment %}
      First name
    {% endcomment %}
    <div class="row">
      {% comment %}<label for="first_name">{{ 'customer.register.first_name_field_label' | t }}</label>{% endcomment %}
      <input type="text" id="first_name" name="customer[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.register.first_name_field_placeholder' | t }}" data-auto-focus>
      {% include 'field-error-message' field: 'first_name' %}
    </div>

    {% comment %}
      Last name
    {% endcomment %}
    <div class="row">
      {% comment %}<label for="last_name">{{ 'customer.register.last_name_field_label' | t }}</label>{% endcomment %}
      <input type="text" id="last_name" name="customer[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.register.last_name_field_placeholder' | t }}">
      {% include 'field-error-message' field: 'last_name' %}
    </div>

    {% comment %}
      Email
    {% endcomment %}
    <div class="row">
      {% comment %}<label for="email">{{ 'customer.register.email_field_label' | t }}</label>{% endcomment %}
      <input type="email" id="email" name="customer[email]" value="{{ form.email }}" placeholder="{{ 'customer.register.email_field_placeholder' | t }}">
      {% include 'field-error-message' field: 'email' %}
    </div>

    {% comment %}
      Password
    {% endcomment %}
    <div class="row">
      {% comment %}<label for="password">{{ 'customer.register.password_field_label' | t }}</label>{% endcomment %}
      <input type="password" id="password" name="customer[password]" value="{{ form.password }}" placeholder="{{ 'customer.register.password_field_placeholder' | t }}">
      {% include 'field-error-message' field: 'password' %}
    </div>

    {% comment %}
      Submit
    {% endcomment %}
    <div class="form-actions text-center width-100">
      <p class="no-margin-bottom">
        <input class="button" type="submit" value="{{ 'customer.register.submit' | t }}">
      </p>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class:'lined margin-top-150 margin-bottom' %}

      <p class="font-size-15 no-margin-bottom">
        <a href="#" data-click-history-back>{{ 'customer.register.cancel' | t }}</a>
      </p>
    </div>

  {% endform  %}

</div>

{% include 'content-close' %}
