<!doctype html>
{% include 'settings' %}
{% include 'set-html-class' %}
{% include 'set-template-type' %}

<!-- Proudly powered by Shopify - https://shopify.com -->

{%- assign seo_title = 'password_page.general.seo_title' | t: shop_name: shop.name -%}

{% comment %}
  HTML - The html_class is very important for theme functionality so please don't remove or change it (but feel free to add to it in the set-html-class.liquid snippet)
{% endcomment %}
<html class="{{ html_class }} height-100" lang="{{ shop.locale }}">
  <head>
    {% comment %}
      Meta
    {% endcomment %}
    {% include 'meta' seo_title: seo_title %}
    {% include 'meta-social' %}

    {% comment %}
      CSS
    {% endcomment %}
    {{ 'normalize/3.0.3/normalize.min.css' | prepend: cdn | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme-custom.scss.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome/4.7.0/css/font-awesome.min.css' | prepend: cdn | stylesheet_tag }}

    {% comment %}
      JavaScript
    {% endcomment %}
    {% include 'theme-js-config' %}
    {{ 'modernizr/2.8.3/modernizr.min.js' | prepend: cdn | script_tag }}
    {{ 'lodash.js/4.17.4/lodash.min.js' | prepend: cdn | script_tag }}
    {{ 'jquery/3.1.1/jquery.min.js' | prepend: cdn | script_tag }}
    {{ 'velocity/1.3.1/velocity.min.js' | prepend: cdn | script_tag }}
    {{ 'jquery-cookie/1.4.1/jquery.cookie.min.js' | prepend: cdn | script_tag }}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}

    {% comment %}
      Shopify
    {% endcomment %}
    {{ content_for_header }}
  </head>

  {% comment %}
    Body
  {% endcomment %}
  <body class="height-100">
    {% include 'facebook-sdk' %}

    {{ content_for_layout }}

    {% comment %}
      JavaScript
    {% endcomment %}
    {{ '/services/javascripts/currencies.js' | script_tag }}
    {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
    {{ 'theme.js' | asset_url | script_tag }}
    {{ 'theme-custom.js' | asset_url | script_tag }}
  </body>
</html>
