<!doctype html>

{% assign html_class = 'no-js' | append: ' ' | append: template %}
{% assign cdn = 'https://cdnjs.cloudflare.com/ajax/libs/' %}

{% if template contains '.' %}
  {% assign template_classes = template | split: '.' %}
  {% assign template_classes_handled = template | replace: '.', '-' %}
  {% assign html_class = template_classes[0] | append: ' ' | append: template_classes_handled %}
{% endif %}

{% if template contains '/' %}
  {% assign template_classes = template | split: '/' %}
  {% assign template_classes_handled = template | replace: '/', '-' %}
  {% assign html_class = template_classes[0] | append: ' ' | append: template_classes_handled %}
{% endif %}

{% assign page_title_handle = page_title | handle %}
{% assign html_class = html_class | append: ' ' | append: page_title_handle %}
{% assign template_type = template %}

{% if template contains '.' %}
  {% assign template_parts = template | split: '.' %}
  {% assign template_type = template_parts[0] %}
{% endif %}

<!-- Proudly powered by Shopify - https://shopify.com -->

<html class="{{ html_class }}" lang="{{ shop.locale }}">

  <head>

    {% render 'meta', template_type: template_type %}
    {% render 'meta-social', template_type: template_type %}
    {% render 'preload-fonts' %}
    {% render 'css-variables' %}

    
    <meta name="google-site-verification" content="UNbw6m2qWoh9NRZl0SU_rIkeZMsufxBKuOHgFQvWhEQ" />
    {% comment %}
      Shopify
    {% endcomment %}
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "7n7xzpvwgh");
    </script>
    {{ content_for_header }}

    {% if template_type == 'index' or template_type == 'product' %}
      {{ 'https://cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}
      {{ 'https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css' | stylesheet_tag }}
    {% endif %}

    {{ 'theme-vendor.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'theme-custom.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}

    {% render 'lazysizes', cdn: cdn %}

    {% render 'theme-js-config', template_type: template_type %}

    {{ 'theme-vendor.js' | asset_url | script_tag }}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}

    {% if template contains 'customers' %}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {% endif %}

    
{% include 'scapp-customerinfo' %} 
{% include 'settings' %}
{% include 'set-html-class' %}
{% include 'set-template-type' %}    
    
</head>
{% comment %}
    Body
  {% endcomment %}
  <body>

    <div id="loading">
      <div class="spinner"></div>
    </div>

    {% render 'facebook-sdk' %}

    {% section 'header' %}

    <div id="app-body">
      <div id="app-body-inner">
        {{ content_for_layout }}
      </div>
    </div>

    {% section 'footer' %}

    <div id="overlay-background"></div>

    {{ '/services/javascripts/currencies.js' | script_tag }}
    {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
    {{ 'theme.js' | asset_url | script_tag }}
    {{ 'theme-custom.js' | asset_url | script_tag }}

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script>
      (function ($) {
        $(document).ready(function () {
          var loading = $('#loading');
          loading.css({
            'opacity': '0',
            'visibility': 'hidden'
          });
          setTimeout(function () {
            loading.hide();
          }, 1000);
        });
      }(jQuery.noConflict()));
      (function ($) {
        var meta = $('head meta[name="viewport"]');
        $("input, select, textarea").on('touchstart', function() {
          meta.attr('content', 'width=device-width, initial-scale=1, user-scalable=0');
        });
        $("input, select, textarea").on('touchend', function() {
          setTimeout(function () {
            meta.attr('content', 'width=device-width, initial-scale=1, user-scalable=1');
          }, 100);
        });
      }(jQuery.noConflict()));
    </script>

  </body>
</html>
