<!doctype html>
{%- assign html_class = 'no-js' | append: ' ' | append: template -%}
{%- assign cdn = 'https://cdnjs.cloudflare.com/ajax/libs/' -%}
{%- if template contains '.' -%}
  {%- assign template_classes = template | split: '.' -%}
  {%- assign template_classes_handled = template | replace: '.', '-' -%}
  {%- assign html_class = template_classes[0] | append: ' ' | append: template_classes_handled -%}
{%- endif -%}
{%- if template contains '/' -%}
  {%- assign template_classes = template | split: '/' -%}
  {%- assign template_classes_handled = template | replace: '/', '-' -%}
  {%- assign html_class = template_classes[0] | append: ' ' | append: template_classes_handled -%}
{%- endif -%}
{%- assign page_title_handle = page_title | handle -%}
{%- assign html_class = html_class | append: ' ' | append: page_title_handle -%}
{%- assign template_type = template -%}
{%- if template contains '.' -%}
  {%- assign template_parts = template | split: '.' -%}
  {%- assign template_type = template_parts[0] -%}
{%- endif -%}
<!-- Proudly powered by Shopify - https://shopify.com -->
{%- comment -%} HTML - The html_class is very important for theme functionality so please don't remove or change it (but feel free to add to it in the set-html-class.liquid snippet) {%- endcomment -%}
<html class="{{ html_class }}" lang="{{ shop.locale }}">
  <head>
    {%- include 'settings' -%}
    {%- include 'set-html-class' -%}
    {%- include 'set-template-type' -%}
    {%- comment -%} meta {%- endcomment -%}
    {%- include 'pluginseo' -%}	
    {%- render 'meta', template_type: template_type -%}
    {%- render 'meta-social', template_type: template_type -%}
    {%- comment -%}{%- render 'preload-fonts' -%}{%- endcomment -%}
    {%- render 'css-variables' -%}
    <meta name="google-site-verification" content="UNbw6m2qWoh9NRZl0SU_rIkeZMsufxBKuOHgFQvWhEQ" />
    {%- comment -%} Shopify {%- endcomment -%}
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "7n7xzpvwgh");
    </script>
    {{ content_for_header }}
    {%- render 'bold-common' -%}
    {%- comment -%} CSS {%- endcomment -%}
    {%- comment -%}{{ 'normalize/8.0.1/normalize.min.css' | prepend: cdn | stylesheet_tag }}
    {{ 'font-awesome/4.7.0/css/font-awesome.min.css' | prepend: cdn | stylesheet_tag }}
    {{ 'flickity/2.2.1/flickity.min.css' | prepend: cdn | stylesheet_tag }}
    {{ 'jquery-typeahead/2.11.0/jquery.typeahead.min.css' | prepend: cdn | stylesheet_tag }}{%- endcomment -%}
    {{ 'theme-vendor.css' | asset_url | stylesheet_tag }}
    {%- if template_type == 'index' or template_type == 'product' -%}
      {{ 'https://cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}
      {{ 'https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css' | stylesheet_tag }}
    {%- endif -%}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {%- comment -%}{{ 'theme-custom.css' | asset_url | stylesheet_tag }}{%- endcomment -%}
    {%- comment -%}{{ 'fonts.scss.css' | asset_url | stylesheet_tag }}{%- endcomment -%}
    {%- comment -%} JavaScript {%- endcomment -%}
    {%- render 'lazysizes', cdn: cdn -%}
    {%- render 'theme-js-config', template_type: template_type -%}
    {{ 'theme-vendor.js' | asset_url | script_tag }}
    {%- if template_type == 'index' or template_type == 'product' -%}
      <script src="https://www.youtube.com/player_api" defer async="async"></script>
      <script src="https://player.vimeo.com/api/player.js" defer async="async"></script>
    {%- endif -%}
    {%- comment -%}{{ 'modernizr/2.8.3/modernizr.min.js' | prepend: cdn | script_tag }}
    {{ 'lodash.js/4.17.4/lodash.min.js' | prepend: cdn | script_tag }}
    {{ 'jquery/3.1.1/jquery.min.js' | prepend: cdn | script_tag }}
    {{ 'jquery.matchHeight/0.7.0/jquery.matchHeight-min.js' | prepend: cdn | script_tag }}
    {{ 'velocity/1.3.1/velocity.min.js' | prepend: cdn | script_tag }}
    {{ 'flickity/2.2.1/flickity.pkgd.min.js' | prepend: cdn | script_tag }}
    {{ 'jquery-typeahead/2.11.0/jquery.typeahead.min.js' | prepend: cdn | script_tag }}
    {{ 'fancybox/2.1.5/jquery.fancybox.min.js' | prepend: cdn | script_tag }}
    {{ 'fitvids/1.1.0/jquery.fitvids.min.js' | prepend: cdn | script_tag }}
    {{ 'jquery-zoom/1.7.18/jquery.zoom.min.js' | prepend: cdn | script_tag }}
    {{ 'jquery-cookie/1.4.1/jquery.cookie.min.js' | prepend: cdn | script_tag }}{%- endcomment -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {%- if template contains 'customers' -%}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
      {%- include 'scapp-customerinfo' -%} 
    {%- endif -%}    
  </head>
  {%- comment -%} Body {%- endcomment -%}
  <body class="template-name-{{ template.name | split : '.' | last }}">
    <div id="loading">
      <div class="spinner"></div>
    </div>
    {%- render 'facebook-sdk' -%}
    {%- comment -%} Header & main menu {%- endcomment -%}
    {%- section 'header' -%}
    {%- comment -%} App body {%- endcomment -%}
    <div id="app-body">
      <div id="app-body-inner">
        {{ content_for_layout }}
      </div>
    </div>
    {%- comment -%} Footer {%- endcomment -%}
    {%- section 'footer' -%}
    <div id="overlay-background"></div>
    {%- comment -%} JavaScript {%- endcomment -%}
    {{ '/services/javascripts/currencies.js' | script_tag }}
    {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
    {{ 'theme.js' | asset_url | script_tag }}
    {%- comment -%}{{ 'theme-custom.js' | asset_url | script_tag }}{%- endcomment -%}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8" defer async="async"></script>
    <script>
      (function ($) {
        $(document).ready(function () {
          var loading = $('#loading');
          loading.css({
            'opacity': '0',
            'visibility': 'hidden'
          });
          setTimeout(function () {
            loading.hide();
          }, 1000);
        });
      }(jQuery.noConflict()));
      (function ($) {
        var meta = $('head meta[name="viewport"]');
        $("input, select, textarea").on('touchstart', function() {
          meta.attr('content', 'width=device-width, initial-scale=1, user-scalable=0');
        });
        $("input, select, textarea").on('touchend', function() {
          setTimeout(function () {
            meta.attr('content', 'width=device-width, initial-scale=1, user-scalable=1');
          }, 100);
        });
      }(jQuery.noConflict()));
    </script>  
    {%- comment -%} If you have uninstalled the HK Pickup Options app, please remove the following line and delete the files snippets/pickup-options.liquid and assets/pickup-options-theme-settings.json.liquid {%- endcomment -%}
    {%- include 'pickup-options' -%}
    {%- unless template contains 'index' -%}    
      <style>
        .stamped-summary-actions-newreview, .stamped-form-label{color: #f2c2c2 !Important;}  
        #stamped-button-submit, input.stamped-button.stamped-button-primary.button.button-primary.btn.btn-primary{background: #f2c2c2 !Important; color: black !Important; border: none !important;}
        .stamped-container[data-count="0"][data-widget-language=""] .stamped-empty-state>div, .stamped-container[data-count="0"][data-widget-language=en] .stamped-empty-state>div {color: #f2c2c2 !important;}
      </style>    
      <!--Stamped.io Script Tags-->   
      <script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-LC5e7mH0HguPvsolhEo055458s3C8d" src="https://cdn1.stamped.io/files/widget.min.js" defer></script>
      {%- render 'bold-currency-converter' -%}
    {%- endunless -%}
    <!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {%- render 'hextom_fsb_main', product: product, customer: customer -%}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    <script src="'//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23'" defer></script>
  </body>
</html>