{% include 'settings' %}

{%- assign comment_form_title = 'blog.comments.form_title' | t -%}

{% comment %}
  Section
{% endcomment %}
{% include 'section-open' section_type: 'article-template', show_title: false %}

{% comment %}
  Hide the tags section if none are assigned
{% endcomment %}
{%- assign show_tags = section.settings.show_tags -%}
{% if article.tags.size < 1 %}
  {%- assign show_tags = false -%}
{% endif %}

<article class="blog-article {{ article.title | handleize }}">

  {% comment %}
    Article image
  {% endcomment %}
  {% if article.image %}
    {% include 'image' with article.image %}

    {% comment %}
      Separator
    {% endcomment %}
    {% include 'separator' %}
  {% endif %}

  <div class="row">
    <div class="large-10 large-push-1 columns">

      {% comment %}
        Article header
      {% endcomment %}
      <header class="text-center">
        <h1 class="title no-margin">
          {{ article.title | escape | link_to: article.url }}
        </h1>
      </header>

      {% comment %}
        Article meta
      {% endcomment %}
      {% if section.settings.show_publish_date or section.settings.show_author or section.settings.show_comment_count %}
        {% include 'separator' class:'margin-top-25 no-margin-bottom' %}
        {% include 'article-meta' show_publish_date: section.settings.show_publish_date, show_author: section.settings.show_author, show_comment_count: section.settings.show_comment_count %}
      {% endif %}

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class:'lined margin-top margin-bottom' %}

      {% comment %}
        Article body
      {% endcomment %}
      <div class="body">
        {{ article.content }}
      </div>

      {% comment %}
        Separator
      {% endcomment %}
      {% if show_tags or section.settings.show_social_sharing_buttons %}
        {% include 'separator' class:'lined margin-top margin-bottom' %}
      {% endif %}

      {% comment %}
        Tags
      {% endcomment %}
      {% if show_tags %}
        <div class="tags text-center">
        {% comment %}<span>{{ 'blog.article.tagged' | t }}</span>{% endcomment %}
        {% for tag in article.tags %}
          {{ tag | replace: ' ', '&nbsp;' | link_to_tag: tag }}
        {% endfor %}
        </div>
      {% endif %}

      {% comment %}
        Separator
      {% endcomment %}
      {% if section.settings.show_social_sharing_buttons %}
        {% include 'separator' %}
      {% endif %}

      {% comment %}
        Sharing
      {% endcomment %}
      {% include 'social-media-buttons' class: 'text-center' %}

      {% comment %}
        Comments
      {% endcomment %}
      {% if blog.comments_enabled? %}
        {% if article.comments.size > 0 %}

          {% comment %}
            Separator
          {% endcomment %}
          {% include 'separator' class:'lined full margin-top-200 margin-bottom-200' %}

          {% comment %}
            Comments
          {% endcomment %}
          <section id="comments" class="comments">
            <h3 class="section-title">{{ 'blog.comments.count' | t: count: article.comments_count }}</h3>

            {% paginate article.comments by article_comments_per_page %}

            {% comment %}
              Comment
            {% endcomment %}
            {% for comment in article.comments %}
              <div class="comment">

                {% comment %}
                  Comment author avatar image
                {% endcomment %}
                <div class="author-avatar">
                  <img src="//gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=100&amp;d=mm" alt="{{ comment.author }}" />
                </div>

                {% comment %}
                  Comment meta
                {% endcomment %}
                <div class="comment-meta lht">
                  <span class="author-name">{{ comment.author | strip_html }}</span>
                  <span class="published text-light">{{ comment.created_at | time_tag: date_time_format }}</span>
                </div>

                {% comment %}
                  Comment body
                {% endcomment %}
                <div class="comment-body">
                  {{ comment.content | strip_html }}
                </div>

              </div>

              {% comment %}
                Separator
              {% endcomment %}
              {% unless forloop.last %}
                {% include 'separator' class:'lined margin-top margin-bottom' %}
              {% endunless %}

            {% endfor %}

            {% comment %}
              Pagination
            {% endcomment %}
            {% include 'pagination' separator_class: 'lined margin-top-150 margin-bottom' %}
          </section>

          {% endpaginate %}

        {% endif %}

        {% comment %}
          Separator
        {% endcomment %}
        {% include 'separator' class:'lined full margin-top-200 margin-bottom-200' %}

        {% comment %}
          Comment form
        {% endcomment %}
        <section id="comment-form" class="comment-form">

          {% if comment_form_title != "" %}
            <h3 class="section-title">{{ 'blog.comments.form_title' | t }}</h3>
          {% endif %}

          {% form article %}
            {% if form.posted_successfully? and blog.moderated? %}
              <div class="panel green">{{ 'blog.comments.submitted_moderated' | t }}</div>
            {% elsif form.posted_successfully? %}
              <div class="panel green">{{ 'blog.comments.submitted' | t }}</div>
            {% else %}
              {% include 'form-errors' %}
            {% endif %}

            <div class="row">
              <div class="small-12 medium-6 columns">
                <label for="comment_author">{{ 'blog.comments.name_field_label' | t }}</label>
                <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" placeholder="{{ 'blog.comments.name_field_placeholder' | t }}">
                {% include 'field-error-message' field: 'author' %}
              </div>

              <div class="small-12 medium-6 columns">
                <label for="comment_email">{{ 'blog.comments.email_field_label' | t }}</label>
                <input type="email" id="comment_email" name="comment[email]" value="{{ form.email }}" placeholder="{{ 'blog.comments.email_field_placeholder' | t }}">
                {% include 'field-error-message' field: 'email' %}
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <label for="comment_body">{{ 'blog.comments.comment_field_label' | t }}</label>
                <textarea id="comment_body" name="comment[body]" rows="2" placeholder="{{ 'blog.comments.comment_field_placeholder' | t }}">{{ form.body }}</textarea>
                {% include 'field-error-message' field: 'body' %}
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="button">{{ 'blog.comments.submit' | t }}</button>
            </div>
          {% endform %}

          {% if blog.moderated? %}
            {% include 'separator' class:'margin-top no-margin-bottom' %}
            <div class="notice text-light lht">{{ 'blog.comments.moderated' | t }}</div>
          {% endif %}

        </section>
      {% endif %}

    </div>
  </div>

  {% comment %}
    JSON-LD structured data
  {% endcomment %}
  {% include 'json-ld-article' %}
</article>

{% comment %}
  Article navigation
{% endcomment %}
{% if section.settings.show_article_nav %}

  {% include 'pagination' show_pagination: true, next_obj: blog.next_article, prev_obj: blog.previous_article, next_url: blog.next_article, prev_url: blog.previous_article %}

{% endif %}

{% include 'section-close'  %}


{% comment %}
  Schema
{% endcomment %}
{% schema %}
{
  "name": "Posts",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "show_publish_date",
      "label": "Show publish date"
    },
    {
      "type": "checkbox",
      "id": "show_comment_count",
      "label": "Show comment count"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "show_social_sharing_buttons",
      "label": "Show social sharing buttons"
    },
    {
      "type": "checkbox",
      "id": "show_article_nav",
      "label": "Show previous\/next links"
    }
  ]
}
{% endschema %}
