{% include 'settings' %}

{% comment %}
  Section
{% endcomment %}
{% include 'section-open' section_type: 'blog-template', show_title: false %}

{% comment %}
  Page header
{% endcomment %}
{% include 'page-header' content: 'page-header-content-blog' class: 'row' col1_class: 'large-8 columns' col2_class: 'large-4 columns text-right-large' %}

{% comment %}
  Separator
{% endcomment %}
{% include 'separator' %}

{% comment %}
  Article list
{% endcomment %}
{% if blog.articles.size > 0 %}
  <div class="blog-articles">
    {% paginate blog.articles by blog_articles_per_page %}
    {% for article in blog.articles %}

    {% comment %}
      Hide the tags section if none are assigned
    {% endcomment %}
    {%- assign show_tags = section.settings.show_tags -%}
    {% if article.tags.size < 1 %}
      {%- assign show_tags = false -%}
    {% endif %}

    {% comment %}
      Separator
    {% endcomment %}
    {% unless forloop.first %}
      {% if article.image %}
        {% include 'separator' class:'margin-top margin-bottom' %}
      {% else %}
        {% include 'separator' class:'lined full margin-top-200 margin-bottom-200' %}
      {% endif %}
    {% endunless %}

    <article class="blog-article">

      {% comment %}
        Article image
      {% endcomment %}
      {% if article.image %}
        {% include 'image' with article.image, image_link_url: article.url %}

        {% comment %}
          Separator
        {% endcomment %}
        {% include 'separator' %}
      {% endif %}

      <div class="row">
        <div class="large-10 large-push-1 columns">

          {% comment %}
            Article header
          {% endcomment %}
          <header class="text-center">
            <h1 class="title no-margin">
              {{ article.title | escape | link_to: article.url }}
            </h1>
          </header>

          {% comment %}
            Article meta
          {% endcomment %}
          {% if section.settings.show_publish_date or section.settings.show_author or section.settings.show_comment_count %}
            {% include 'separator' class:'margin-top-25 no-margin-bottom' %}
            {% include 'article-meta' show_publish_date: section.settings.show_publish_date, show_author: section.settings.show_author, show_comment_count: section.settings.show_comment_count %}
          {% endif %}

          {% comment %}
            Separator
          {% endcomment %}
          {% include 'separator' class:'lined margin-top margin-bottom' %}

          {% comment %}
            Article excerpt
          {% endcomment %}
          <div class="body">
            {{ article.excerpt_or_content }}
          </div>

          {% comment %}
            Separator
          {% endcomment %}
          {% if show_tags or section.settings.show_article_link %}
            {% include 'separator' class:'lined margin-top margin-bottom' %}
          {% endif %}

          {% comment %}
            Article link
          {% endcomment %}
          {% if section.settings.show_article_link %}
            <p class="article-link no-margin text-center">
              <a href="{{ article.url }}">{{ 'blog.article_list.go_to_article' | t }}</a>
            </p>
          {% endif %}

          {% comment %}
            Separator
          {% endcomment %}
          {% if show_tags  %}
            {% include 'separator' class:'margin-top-50 no-margin-bottom' %}
          {% endif %}

          {% comment %}
            Tags
          {% endcomment %}
          {% if show_tags %}
            <div class="tags text-center">
            {% comment %}<span>{{ 'blog.article_list.tagged' | t }}</span>{% endcomment %}
            {% for tag in article.tags %}
              {{ tag | replace: ' ', '&nbsp;' | link_to_tag: tag }}
            {% endfor %}
            </div>
          {% endif %}

        </div>
      </div>

      {% comment %}
        JSON-LD structured data
      {% endcomment %}
      {% include 'json-ld-article' %}

    </article>

    {% endfor %}

    {% comment %}
      Pagination
    {% endcomment %}
    {% include 'pagination' %}

    {% endpaginate %}
  </div>

{% else %}
  <div class="no-content">
    <p>{{ 'blog.article_list.no_articles' | t }}</p>
  </div>
{% endif %}

{% include 'section-close'  %}


{% comment %}
  Schema
{% endcomment %}
{% schema %}
{
  "name": "Blog pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_tag_filter",
      "label": "Show tag filter"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "show_publish_date",
      "label": "Show publish date"
    },
    {
      "type": "checkbox",
      "id": "show_comment_count",
      "label": "Show comment count"
    },
    {
      "type": "checkbox",
      "id": "show_article_link",
      "label": "Show 'read more' link"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags"
    }
  ]
}
{% endschema %}
