{%- assign product = all_products[section.settings.featured_product] -%}


{% include 'settings' %}
{% include 'set-product-vars' product_class:'featured-product', pricing: 'variant' %}

{%- if product == empty -%}
  {%- assign onboarding = true -%}
  {%- assign compare_at_class = compare_at_class | replace: ' hidden', '' %}
  {%- assign compare_at_price = 2999 -%}
  {%- assign title = 'onboarding.product_title' | t -%}
  {%- assign price = 1999 -%}
  {%- assign product_class = product_class | replace: 'sold-out', '' -%}
  {%- assign qty_available = 26 -%}
  {%- assign sold_out = false -%}
  {%- assign vendor = 'onboarding.product_vendor' | t -%}
{%- else -%}
  {%- assign onboarding = false -%}
  {%- assign title = product.title -%}
  {%- assign vendor = product.vendor -%}
  {%- assign qty_available = variant.inventory_quantity -%}
{%- endif -%}

{% comment %}
  Additional variable settings can be found in the set-product-vars.liquid snippet
{% endcomment %}

{% comment %}
  Determine the sizes of the image and content columns
{% endcomment %}
{%- assign col_one_size_medium = 6 -%}
{%- assign col_two_size_medium = 6 -%}
{%- assign col_one_size_large = section.settings.col_one_size_large -%}
{%- assign col_two_size_large = 12 | minus: col_one_size_large -%}

{% if col_two_size_large == 0 %}
  {%- assign col_one_size_medium = 12 -%}
  {%- assign col_two_size_medium = 12 -%}
  {%- assign col_two_size_large = 12 -%}
{% endif %}

{% comment %} Hide the variant selector if the product has a single variant and the show single selector option has been set to false in the settings.liquid snippet {% endcomment %}
{% if product.variants.size <= 1 and product_show_single_selector == false %}
  {%- assign product_show_multi_selectors = false -%}
{% endif %}

{% comment %} Hide the variant selector if set to hidden in the section settings {% endcomment %}
{% if section.settings.show_variant_selectors == false %}
  {%- assign product_show_multi_selectors = false -%}
{% endif %}

{% comment %} Limit the number of variant selectors per row to the number of product options. The maximum number of selectors per row can be set in the settings.liquid snippet {% endcomment %}
{% if product_selectors_per_row_small > product.options.size %}
  {%- assign product_selectors_per_row_small = product.options.size -%}
{% endif %}

{% if product_selectors_per_row_medium > product.options.size %}
  {%- assign product_selectors_per_row_medium = product.options.size -%}
{% endif %}

{% if product_selectors_per_row_large > product.options.size %}
  {%- assign product_selectors_per_row_large = product.options.size -%}
{% endif %}

{% comment %} Determine the initial primary image to show {% endcomment %}
{% if product_enable_select_an_option %}
  {%- assign primary_image = product.featured_image -%}
{% else %}
  {%- assign primary_image = variant.featured_image | default: product.featured_image -%}
{% endif %}

{% comment %} Section {% endcomment %}
{%- render 'separator' section_type: 'featured-product', show_title: false %}

<article id="{{ product.handle }}" class="{{ product_class }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  <div class="row">

    {% comment %} Left column {% endcomment %}
    <div class="medium-{{ col_one_size_medium }} large-{{ col_one_size_large }} columns">

      {% comment %} Primary media {% endcomment %}
      <div class="primary-media-types">
        {% if onboarding %}
          {% include 'image' image_type: 'product', image_placeholder: true %}
        {% else %}
          {% assign media = product.featured_media %}
          {% capture id %}media-{{ media.id }}{% endcapture %}
          {% case media.media_type %}
            {% when 'image' %}
              {% assign image_link_url = media | img_url: 'master' %}
              {% include 'image' with media, image_id: id, image_class: 'primary-media', image_type: 'product-primary', image_link_url: image_link_url %}
            {% when 'video' %}
              <div class="video-container primary-media-container" tabindex="0" data-media-id="{{ media.id }}">
                {{ media | video_tag: controls: true, id: id, class: 'primary-media js-player', data-media-id: media.id }}
              </div>
            {% when 'external_video' %}
              <div class="external-video-container primary-media-container" tabindex="0" data-media-id="{{ media.id }}">
                <div class="plyr__video-embed">
                  {{ media | external_video_tag: id: id, class: 'primary-media yt-player', data-media-id: media.id }}
                </div>
              </div>
            {% when 'model' %}
              <div class="model-container primary-media-container" tabindex="0" data-media-id="{{ media.id }}">
                <div class="model-container-position" style="padding-top: 100%;">
                  {{ media | model_viewer_tag: id: id, class: 'primary-media xr-viewer', reveal: 'interaction', toggleable: true }}
                </div>
              </div>
            {% else %}
              <div class="media-container primary-media-container" tabindex="0" data-media-id="{{ media.id }}">
                <div class="media-container-position" style="padding-top: 100%;">
                  {{ media | media_tag: class: 'primary-media' }}
                </div>
              </div>
          {% endcase %}
          {% assign first_model = product.media | where: 'media_type', 'model' | first %}
          {% if first_model %}
            <button
              class="button view-in-your-space"
              aria-label="{{ 'products.view_in_your_space' | t }}"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_model.id }}"
              data-shopify-title="{{ product.title }}"
              style="display: none;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" width="40" height="40">
                <path d="M40.4,22.57l-8.8-5.14a3.19,3.19,0,0,0-3.21,0l-8.8,5.14A3.24,3.24,0,0,0,18,25.36V35.64a3.23,3.23,0,0,0,1.6,2.79l8.8,5.14a3.2,3.2,0,0,0,3.21,0l8.8-5.14A3.23,3.23,0,0,0,42,35.64V25.36A3.24,3.24,0,0,0,40.4,22.57ZM20.6,36.7a1.23,1.23,0,0,1-.6-1.06V25.36a1.23,1.23,0,0,1,.6-1.06l8.8-5.14a1.19,1.19,0,0,1,1.19,0l8.8,5.14a1.2,1.2,0,0,1,.36.34l-9.51,4.89a2.23,2.23,0,0,0-1.25,2V41.6Z"/>
              </svg>
              <span>{{ 'products.view_in_your_space' | t }}</span>
            </button>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {% comment %} Right column {% endcomment %}
    <div class="medium-{{ col_two_size_medium }} large-{{ col_two_size_large }} columns">

      {% comment %} Separator {% endcomment %}
      {% if col_two_size_medium == 12 %}
        {% include 'render' class:'margin-top-150 no-margin-bottom' %}
      {% else %}
        {% include 'render' class:'margin-top-150 no-margin-bottom   show-for-small' %}
      {% endif %}


      {% comment %} Header {% endcomment %}
      {% include 'page-header' class:'no-margin-bottom', title: title %}

      {% comment %} Vendor {% endcomment %}
      {% if section.settings.show_vendor %}
        <div class="vendor">
          {{ vendor | link_to_vendor }}
        </div>
      {% endif %}

      {% comment %} Separator {% endcomment %}
      {% include 'render' class:'no-margin-top margin-bottom-50' %}

      {% comment %} Sale sticker {% endcomment %}
      {% if section.settings.show_sale_sticker %}
      <span class="{{ sale_sticker_class }}">{{ 'products.on_sale_sticker' | t }}</span>
      {% endif %}

      {% comment %} Pricing {% endcomment %}
      {% if section.settings.show_price %}
        {% include 'pricing' %}
      {% endif %}

      {% comment %} Separator {% endcomment %}
      {% include 'render' class:'margin-top-50 no-margin-bottom' %}

      {% comment %} Variants {% endcomment %}
      <div class="variants">
        {% unless onboarding %}
          {% form 'product', product %}

            <div class="shopify-payment-terms">{{ form | payment_terms }}</div>
            {% comment %} Default to current variant  ID {% endcomment %}
            <input type="hidden" name="id" value="{{ variant.id }}">

            <div class="small-item-grid-1 medium-item-grid-2 row-spacing-50">

              {% comment %} Quantity  {% endcomment %}
              {% if section.settings.show_qty_selector %}
                <div class="item">
                  <label for="quantity">{{ 'products.quantity_label' | t }}</label>
                  <input id="quantity" name="quantity" type="number" min="1" value="1">
                </div>
              {% endif %}
            </div>

            <div class="small-item-grid-1 medium-item-grid-2 row-spacing-50">

              {% comment %} Add to cart / sold out button {% endcomment %}
              {% if section.settings.show_add_to_cart_button %}
                <div class="item">
                  {% if variant.available %}
                    <button class="{{ add_to_cart_button_class }}" type="submit" data-cart-action="{{ settings.cart_type }}">{{ 'products.add_to_cart' | t }}</button>
                  {% else %}
                    <button class="add-to-cart button disabled width-100" type="submit" disabled>{{ 'products.sold_out' | t }}</button>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %} Smart payment button {% endcomment %}
              {% if section.settings.enable_payment_button %}
                <div class="item {{ smart_payment_button_container_class }}">
                  {{ form | payment_button }}
                </div>
              {% endif %}

            </div>

          {% endform %}

        {% endunless %}
      </div>

      {% comment %} Separator {% endcomment %}
      {% render 'separator' class:'margin-top-50 no-margin-bottom' %}

      {% comment %} Quantity available {% endcomment %}
      {% if section.settings.show_qty_available %}
        <span class="quantity-available text-light"><span class="quantity-available-label">{{ 'products.quantity_available' | t }}</span> <span data-quantity-available>{{ qty_available }}</span></span>
      {% endif %}

      {% comment %} SKU {% endcomment %}
      {% if section.settings.show_sku and variant.sku != blank %}
        <span class="sku text-light"><span class="sku-label">{{ 'products.sku' | t }}</span> <span data-sku>{{ variant.sku }}</span></span>
      {% endif %}

      {% comment %} Backorder notice {% endcomment %}
      {% if section.settings.enable_backorder_notice %}
        <div class="{{ backorder_class }}">
          {% render 'separator' class:'lined full margin-top margin-bottom' %}
          <div class="table">
            <div class="cell">
              <i class="fa fa-2x fa-warning"></i>
            </div>
            <div class="cell">
              <span class="text">{{ 'products.backorder_html' | t }}</span>
            </div>
          </div>
          {% render 'separator' class:'lined full margin-top no-margin-bottom' %}
        </div>
      {% endif %}

      {% comment %} Separator
       {% endcomment %}
      {% render 'separator' class:'margin-top-50 margin-bottom-50' %}

      {% comment %} Description {% endcomment %}
      <div class="description">
        <a href="{{ product.url }}">{{ 'products.full_details' | t }} &rarr;</a>
      </div>

      {% comment %} Separator {% endcomment %}
      {% render 'separator' %}

      {% comment %} Tags {% endcomment %}
      {% if section.settings.show_tags and product.tags.size > 0 %}
        <div class="tags">
        {% for tag in product.tags %}
          {{ tag | replace: ' ', '&nbsp;' | link_to_tag: tag }}
        {% endfor %}
        </div>
      {% endif %}

      {% comment %} Separator {% endcomment %}
      {% render 'separator' %}
      {% comment %} Sharing {% endcomment %}
      {% include 'social-media-buttons' %}
    </div>

  </div>

  {% comment %} Next / previous product links {% endcomment %}
  {% if collection %}
    {% include 'separator' class:'lined full margin-top-200 margin-bottom' %}
    <div class="row">
      <div class="small-6 columns">
      {% if collection.previous_product %}
        <a class="text-light" href="{{ collection.previous_product }}" title="{{ 'shopify.pagination.previous' | t }}">{{ 'shopify.pagination.previous' | t }}</a>
      {% else %}
        &nbsp;
      {% endif %}
      </div>
      <div class="small-6 columns text-right">
        {% if collection.next_product %}
          <a class="text-light" href="{{ collection.next_product }}" title="{{ 'shopify.pagination.next' | t }}">{{ 'shopify.pagination.next' | t }}</a>
        {% else %}
          &nbsp;
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% comment %} JSON-LD structured data {% endcomment %}
  {% render 'json-ld-product', product: product %}

</article>

{% if media.media_type == 'external_video' %}
  <script>if(!document.getElementById("youtube-player-api")){var script=document.createElement("script");script.id="youtube-player-api",script.src="https://www.youtube.com/player_api",document.head.appendChild(script)}</script>
{% endif %}

{% include 'section-close'  %}


{% comment %}
  Prevent inventory quantites from being exposed unnecessarily
<script type="text/javascript">
  {% if section.settings.show_qty_available %}
    {% for variant in product.variants %}
      Station.Theme.current.product.variants['{{ forloop.index0 }}']['inventory_policy'] = '{{ variant.inventory_policy }}';
      Station.Theme.current.product.variants['{{ forloop.index0 }}']['inventory_quantity'] = {{ variant.inventory_quantity }};
    {% endfor %}
  {% endif %}
</script>
{% endcomment %}


{% comment %} Schema {% endcomment %}
{% schema %}
{
  "name": "Featured product",
  "class": "index-section section-featured-product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_compare_at_price",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_unit_price",
      "label": "Show unit price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_qty_selector",
      "label": "Show quantity selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_qty_available",
      "label": "Show quantity available",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_add_to_cart_button",
      "label": "Show add to cart button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sale_sticker",
      "label": "Show sale sticker",
      "info": "Shown when product has 'compare at' price higher than 'price'",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_backorder_notice",
      "label": "Enable backorder notice",
      "default": false
    },
    {
      "type": "header",
      "content": "MEDIA",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)."
    },
    {
      "id": "col_one_size_large",
      "type": "select",
      "label": "Main media size",
      "options": [
        {"value": "3", "label": "Small"},
        {"value": "6", "label": "Medium"},
        {"value": "9", "label": "Large"},
        {"value": "12", "label": "Full-width"}
      ],
      "default": "6"
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Products"
    }
  ]
}
{% endschema %}
