{% include 'settings' %}

{% comment %} Section {% endcomment %}
{% render 'section-open', section: section, type: 'blog', class: 'column-max', show_title: true %}

{%- assign blog = blogs[section.settings.blog] -%}
{% comment %} CSS {% endcomment %}
<style>
  #{{ section_id }} {
  }

  @media screen and (min-width: 640px) {
    {% if section.settings.article_limit == 1 %}
      #{{ section_id }} .blog-article,
      #{{ section_id }} .blog-article .meta {
          text-align: center !important;
      }
    {% endif %}
  }
</style>

<div class="blog-articles medium-item-grid-{{ section.settings.article_limit }}">
  {% if blog != empty and blog.articles_count > 0 %}

  {%- assign show_tags = section.settings.show_tags -%}

    {% for article in blog.articles limit: section.settings.article_limit %}

      {% comment %} Hide the tags section if none are assigned {% endcomment %}
      {% if article.tags.size < 1 %}
        {%- assign show_tags = false -%}
      {% endif %}

      <article class="blog-article item">

        {% comment %} Article image {% endcomment %}
        {% if section.settings.show_image %}

          {% include 'image' with article.image, image_type: 'article', image_link_url: article.url %}

          {% comment %} Separator {% endcomment %}
          {% include 'separator' class: 'margin-top-50' %}
        {% endif %}


        {% comment %} Article header {% endcomment %}
        <header>
          <h1 class="title no-margin">
            {{ article.title | escape | link_to: article.url }}
          </h1>
        </header>

        {% comment %} Article meta {% endcomment %}
        {% if section.settings.show_publish_date or section.settings.show_author or section.settings.show_comment_count %}
          {% include 'separator' class:'margin-top-25 no-margin-bottom' %}
          {% include 'article-meta' class: 'text-left text-light font-size-13 lht', current_blog: blog, show_publish_date: section.settings.show_publish_date, show_author: section.settings.show_author, show_comment_count: section.settings.show_comment_count %}
          {% include 'separator' class: 'no-margin-top margin-bottom-50' %}
        {% else %}
          {% include 'separator' class: 'no-margin-top margin-bottom-25' %}
        {% endif %}

        {% comment %} Article excerpt {% endcomment %}
        {% if section.settings.show_excerpt %}
          <div class="body">
            {{ article.excerpt_or_content | strip_html | truncatewords: 30 }}
          </div>
        {% endif %}

        {% comment %} Separator {% endcomment %}
        {% if section.settings.show_article_link %}
          {% include 'separator' class:'lined margin-top margin-bottom' %}
        {% endif %}

        {% comment %} Article link {% endcomment %}
        {% if section.settings.show_article_link %}
          {% render 'separator', class: 'lined margin-top margin-bottom' %}
          <p class="article-link no-margin text-center">
            <a href="{{ article.url }}">{{ 'blog.article_list.go_to_article' | t }}</a>
          </p>
        {% endif %}

        {% comment %} JSON-LD structured data {% endcomment %}
        {% render 'json-ld-article', article: article %}

      </article>

    {% endfor %}

  {% else %}

    {% for i in (1..section.settings.article_limit) %}
      <article class="blog-article mod-onboarding item">

        {% if section.settings.show_image %}
          {% include 'image' image_type: 'collection', image_placeholder: true %}
          {% include 'separator' class: 'margin-top-50' %}
        {% endif %}

        {% comment %} Article header {% endcomment %}
        <header>
          <h1 class="title margin-bottom-50">
            {{ 'onboarding.blog_title' | t }}
          </h1>
        </header>

        {% comment %} Article excerpt {% endcomment %}
        {% if section.settings.show_excerpt %}
         <div class="body">
            {{ 'onboarding.blog_content' | t }}
          </div>
        {% endif %}

      </article>
    {% endfor %}
    
  {% endif %}
</div>

{% include 'section-close'  %}


{% comment %} Schema {% endcomment %}
{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section section-featured-blog",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "article_limit",
        "label": "Posts",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "show_publish_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_comment_count",
        "label": "Show comment count",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_image",
        "label": "Show cover image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_excerpt",
        "label": "Show excerpt",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{% endschema %}
