{% include 'settings' %}

{% render 'section-open', section: section, type: 'newsletter', title: false %}

{% comment %}
  Section
{% endcomment %}
{%- render 'separator' section_type: 'example', show_title: true %}


{% comment %}
  CSS
{% endcomment %}
<style>

  #{{ section_id }} .newsletter-content {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.color_text }};
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #{{ section_id }} .newsletter-heading {
    color: {{ section.settings.color_text }};
    {% if section.settings.heading != blank and section.settings.subheading == blank %}
      margin: 0;
    {% else %}
      margin-top: 0;
    {% endif %}
  }

  #{{ section_id }} .newsletter-subheading {
    margin: 0;
  }

  #{{ section_id }} .newsletter-form input[type="email"] {
    border-right: none;
    border-right-width: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  #{{ section_id }} .newsletter-form button {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    width: 100%;
  }

</style>


<div class="newsletter-content">

  <div class="column-extra-narrow padding-top-150 padding-bottom-150 text-center">

    {% unless section.settings.heading == blank %}
      <h2 class="newsletter-heading lhxt">
        {{ section.settings.heading | escape }}
      </h2>
    {% endunless %}
    {% unless section.settings.subheading == blank %}
      <p class="newsletter-subheading">{{ section.settings.subheading }}</p>
    {% endunless %}

    {% include 'separator' class:'margin-top-50 margin-bottom-50' %}

    {% form 'customer' %}

      {% comment %}
        Error message
      {% endcomment %}
      {% include 'form-errors' %}

      {% if form.posted_successfully? %}

        {% comment %}
          Success message
        {% endcomment %}
        <div class="form-success panel green text-center font-size-15">
          {{ 'newsletter.success_message' | t }}
        </div>

      {% else %}

        <input type="hidden" name="contact[tags]" value="newsletter">

        {% comment %}
          Email
        {% endcomment %}
        <div class="newsletter-form table">
          <div class="cell">
            {% comment %}<label for="email">{{ 'newsletter.email_field_label' | t }}</label>{% endcomment %}
            <input type="email" name="contact[email]" value="{{ form.email }}" placeholder="{{ 'newsletter.email_field_placeholder' | t }}"
              aria-label="{{ 'newsletter.email_field_placeholder' | t }}"
              required
              {% if form.errors %}
                  class="error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                  data-form-status
              {% endif %}>
          </div>
          <div class="cell">
            <button type="submit" class="button"  aria-label="{{ 'general.accessibility.submit' | t }}">{{ 'newsletter.submit' | t }}</button>
          </div>
        </div>

      {% endif %}
    {% endform %}

  </div>
</div>

{% include 'section-close'  %}

{% comment %}
  Schema
{% endcomment %}
{% schema %}
{
  "name": "Newsletter",
  "class": "index-section section-newsletter",
  "settings": [
  {
    "type": "header",
    "content": "Section"
  },
  {
    "id": "width",
    "type": "select",
    "label": "Width",
    "options": [
      {"value": "column-max", "label": "Content"},
      {"value": "width-100", "label": "Screen"}
    ],
    "default": "column-max"
  },
  {
    "type": "color",
    "id": "bg_color",
    "label": "Background color",
    "default": "#f0f1f2"
  },
  {
    "type": "header",
    "content": "Content"
  },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Subscribe to our newsletter"
    },
    {
      "id": "subheading",
      "type": "richtext",
      "label": "Subheading",
      "default": "<p>Enter your email address below to join our mailing list and have our latest news and member-only deals delivered straight to your inbox.</p>"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text color"
    },
    {
      "type": "paragraph",
      "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
