{% include 'settings' %}

{% comment %}
  Section
{% endcomment %}
{%- render 'separator' section_type: 'password-template', class: ' height-100', show_title: false %}

{% comment %}
  Password
{% endcomment %}
<div class="password-wrap table">
  <div class="cell text-center">
    {% include 'content-open' class: 'column-extra-narrow' %}

    {% comment %}
      Login link
    {% endcomment %}
    <a class="enter-link text-light font-size-14 animate-in fade-in-down" href="#" data-show-module-id="password-entry">{{ 'password_page.login.enter_link_html' | t }}</a>

    {% comment %}
      Cancel login link
    {% endcomment %}
    <a class="cancel-enter-link text-light font-size-14 animate-in fade-in-down" href="#" data-show-module-id="opening-soon">{{ 'password_page.login.cancel' | t }}</a>

    {% comment %}
      Opening soon notice
    {% endcomment %}
    <div id="opening-soon" class="password-module">

      {% comment %}
        Brand text / logo
      {% endcomment %}
      <div class="brand">
        <h1 class="visually-hidden">{{ shop.name }}</h1>
        <a href="{{ routes.root_url }}" title="{{ shop.name }}">
        {% if section.settings.logo %}
          {% capture logo_size %}{{ section.settings.logo_max_width | escape | replace: 'px', ''}}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: logo_size }}" srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
        {% else %}
          <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
        {% endif %}
        </a>
      </div>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class: 'lined margin-top margin-bottom' %}

      {% comment %}
        Title
      {% endcomment %}
      <div class="title font-size-20 margin-bottom-50">{{ 'password_page.general.opening_soon' | t }}</div>

      {% unless shop.password_message == blank %}
        <p>
          {{ shop.password_message }}
        </p>
      {% endunless %}


      {% comment %}
        Signup form
      {% endcomment %}
      {% if section.settings.enable_signup %}

        {%- assign formId = 'Contact_' | append: section.id -%}
        {% form 'customer' %}

          {% if form.posted_successfully? %}

            {% include 'separator' %}

            <div class="form-success panel green text-center font-size-15 no-margin">
              {{ 'password_page.signup.form_success' | t }}
            </div>

          {% else %}
            <p>
              {{ 'password_page.signup.heading' | t }}
            </p>

            {% render 'form-errors', form: form %}

            <input type="hidden" name="contact[tags]" value="prospect, password page">

            {% comment %}
              Email
            {% endcomment %}
            <div class="row">
              {% comment %}<label for="email">{{ 'password_page.signup.email_field_label' | t }}</label>{% endcomment %}
              <input class="text-center {% if form.errors %} error {% endif %}" type="email" id="email" name="contact[email]" placeholder="{{ 'password_page.signup.email_field_placeholder' | t }}" aria-label="{{ 'password_page.signup.email_field_placeholder' | t }}"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                    data-form-status
                  {% else %}
                    data-auto-focus
                  {% endif %}>
                  {% render 'field-error-message', form: form, field: 'email' %}
            </div>

            {% comment %}
              Submit
            {% endcomment %}
            <div class="form-actions text-center width-100 margin-top-50">
              <input class="button" type="submit" value="{{ 'password_page.signup.submit' | t }}">
            </div>

          {% endif %}

        {% endform %}

      {% endif %}

      {% comment %}
        Social sharing buttons
      {% endcomment %}
      {% if section.settings.show_social_sharing_buttons %}
        <p class="margin-top-150">{{ 'password_page.social_sharing.heading' | t }}</p>
        {% render 'social-media-buttons' %}
      {% endif %}

      {% comment %}
        Separator
      {% endcomment %}
      {% render 'separator', class: 'lined margin-top margin-bottom' %}

      {% comment %}
        Powered by Shopify
      {% endcomment %}
      <div class="password-powered-by">
        {% capture shopify %}
          <a class="text-color" href="//www.shopify.com" title="Create your own online store with Shopify" data-target-new>Shopify</a>
        {% endcapture %}

        <span class="font-size-14 text-light">{{ 'password_page.general.powered_by_shopify_html' | t: shopify: shopify }}</span>
      </div>

    </div>


    {% comment %}
      Password entry
    {% endcomment %}
    <div id="password-entry" class="password-module">

      {% comment %}
        Brand text / logo
      {% endcomment %}
      <div class="brand">
        <h1 class="visually-hidden">{{ shop.name }}</h1>
        <a href="{{ routes.root_url }}" title="{{ shop.name }}">
        {% if section.settings.logo %}
          {% capture logo_size %}{{ section.settings.logo_max_width | replace: 'px', ''}}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: logo_size }}" srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
        {% else %}
          <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
        {% endif %}
        </a>
      </div>

      {% comment %}
        Separator
      {% endcomment %}
      {% render 'separator', class: 'lined margin-top margin-bottom' %}

      {% comment %}
        Heading
      {% endcomment %}
      <p>
        {{ 'password_page.login.heading' | t }}
      </p>

      {% comment %}
        Login form
      {% endcomment %}
      {%- assign passwordFormId = 'Password_' | append: section.id -%}
      {% form 'storefront_password', id: passwordFormId %}

      {% render 'form-errors', form: form %}

        {% comment %}
          Password
        {% endcomment %}
        <div class="row">
          {% comment %}<label for="password">{{ 'password_page.login.password_field_label' | t }}</label>{% endcomment %}
          <input class="text-center {% if form.errors %} error {% endif %}" type="password" id="password" name="password" placeholder="{{ 'password_page.login.password_field_placeholder' | t }}" aria-label="{{ 'password_page.login.password_field_placeholder' | t }}"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="{{ formId }}-password-error"
                data-form-status
              {% endif %}>
              {% render 'field-error-message', form: form, field: 'password' %}
        </div>

        {% comment %}
          Submit
        {% endcomment %}
        <div class="form-actions text-center width-100 margin-top-50">
          <input class="button" type="submit" value="{{ 'password_page.login.submit' | t }}">
        </div>

      {% endform %}

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class: 'lined margin-top margin-bottom' %}

      {% comment %}
        Store login link
      {% endcomment %}
      <p class="font-size-14 margin-bottom-50">
        <span class="text-light">{{ 'password_page.login.store_owner' | t }}</span>
        <a href="{{ routes.root_url }}{% if routes.root_url != '/' %}/{% endif %}admin" class="text-color">{{ 'password_page.login.admin_link' | t }}</a>
      </p>

    </div>

    {% include 'content-close' %}
  </div>
</div>

{% include 'section-close'  %}


{% comment %}
  Schema
{% endcomment %}
{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_signup",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
    },
    {
      "type": "checkbox",
      "id": "show_social_sharing_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "logo_max_width",
      "type": "range",
      "label": "Custom width",
      "min": 100,
      "max": 1200,
      "step": 50,
      "unit": "px",
      "default": 250
    }
  ]
}
{% endschema %}
