{% render 'section-open', section: section, type: 'video', body_padding: false %}

  <style>
    #shopify-section-{{ section.id }} .video-wrap {
      max-width: {{ section.settings.video_max_width}}%;
      margin: 0 auto;
    }
  </style>

  {% if section.settings.video_url != blank %}
    <div class="video-wrap fit-video">
      {% if section.settings.video_url.type == 'youtube' %}
        <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}" width="850" height="480" frameborder="0" allowfullscreen></iframe>
      {% elsif section.settings.video_url.type == 'vimeo' %}
        <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?color={{ settings.color_accent | replace: '#', '' }}" width="850" height="480"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% endif %}
    </div>
  {% else %}
    <div class="text-center margin-top margin-bottom">
      <i class="fa fa-youtube-play fa-4x"></i>
    </div>
  {% endif %}

{% render 'section-close' %}

{% schema %}
{
  "name": "Video",
  "class": "index-section section-video",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "id": "width",
      "type": "select",
      "label": "Width",
      "options": [
        {"value": "column-max", "label": "Content"},
        {"value": "width-100", "label": "Screen"}
      ]
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "URL",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "range",
      "id": "video_max_width",
      "label": "Width",
      "min": 10,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 100
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Video",
      "settings": {

      }
    }
  ]
}
{% endschema %}
