{% layout 'gift_card' %}
{% include 'settings' %}

{%- assign gc_formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}

{%- assign gc_formatted_initial_value_stripped = gc_formatted_initial_value | strip_html -%}

{%- assign gc_balance = gift_card.balance | money -%}
{%- assign gc_code_size = gift_card.code | format_code | size -%}
{%- assign gc_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}
{%- assign gc_initial_value_size = formatted_initial_value | size -%}
{%- assign gc_wrap_class = 'giftcard-wrap table' %}

{% if gift_card.expired or gift_card.enabled != true %}
  {%- assign gc_wrap_class = gc_wrap_class | append: ' disabled' %}
{% endif %}

{% comment %}
  Gift card
{% endcomment %}
<div class="{{ gc_wrap_class }}">
  <div class="cell text-center">
    {% include 'content-open' class: 'column-extra-narrow' %}


    {% comment %}
      Header
    {% endcomment %}
    <header role="banner">

      {% comment %}
        Shop name
      {% endcomment %}
      <div class="brand">
        <a class="text-light" href="{{ routes.root_url }}" data-target-new>{{ shop.name }}</a>
      </div>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class: 'lined margin-top margin-bottom' %}

      {% comment %}
        Subtext
      {% endcomment %}
      <h1 class="no-margin lhxt">{{ 'gift_cards.issued.subtext' | t }}</h1>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class: 'no-margin-top' %}

      {% comment %}
        Disabled
      {% endcomment %}
      {% unless gift_card.enabled %}
        <p class="no-margin-bottom">{{ 'gift_cards.issued.disabled' | t }}</p>
      {% endunless %}

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' %}

      {% comment %}
        Expired
      {% endcomment %}
      {% if gift_card.enabled and gift_card.expired %}
        <p class="no-margin-bottom">{{ 'gift_cards.issued.expired' | t: expiry_date: gc_expiry_date }}</p>
      {% endif %}

      {% comment %}
        Active
      {% endcomment %}
      {% if gift_card.enabled and gift_card.expired != true and gift_card.expires_on %}
        <p class="giftcard-active no-margin-bottom">{{ 'gift_cards.issued.active' | t: expiry_date: gc_expiry_date }}</p>
      {% endif %}

    </header>

    {% comment %}
      Separator
    {% endcomment %}
    {% include 'separator' class: 'no-margin-top' %}

    {% comment %}
      Gift card
    {% endcomment %}
    <main id="app-body" role="main">

      <div class="giftcard-card">

        {% comment %}
          Amount
        {% endcomment %}
        <div class="amount">
          <div class="initial-value">{{ gc_formatted_initial_value }}</div>

          {% if gift_card.balance != gift_card.initial_value %}
            <div class="balance">{{ 'gift_cards.issued.remaining' | t: balance: gc_balance }}</div>
          {% endif %}
        </div>

        {% comment %}
          Separator
        {% endcomment %}
        {% include 'separator' class: 'show-for-small' %}

        {% comment %}
          Image
        {% endcomment %}
        <img class="giftcard-bg-image" src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="">

        {% comment %}
          Code
        {% endcomment %}
        <div id="giftcard-code" class="code">
          <span>{{ gift_card.code | format_code }}</span>
        </div>

      </div>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class: 'no-margin-top show-for-small' %}
      {% include 'separator' class: 'hide-for-small' %}

      {% comment %}
        Redeem
      {% endcomment %}
      <p class="text-light no-margin lht">
        {{ 'gift_cards.issued.redeem' | t: value: formatted_initial_value_stripped }}
      </p>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' %}

      {% comment %}
        Start shopping
      {% endcomment %}
      <p>
        <a href="{{ routes.root_url }}" class="button" data-target-new>
        {{ 'gift_cards.issued.shop_link_html' | t }}</a>
      </p>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' class: 'lined margin-top margin-bottom' %}

      {% comment %}
        Apple Wallet
      {% endcomment %}
      {% if gift_card.pass_url %}
        <a class="add-to-apple-wallet" href="{{ gift_card.pass_url }}">
          <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
        </a>
        {% include 'separator' %}
      {% endif %}

      {% comment %}
        QR code
      {% endcomment %}
      <div id="qr-code" class="text-center" data-identifier="{{ gift_card.qr_identifier }}"></div>

      {% comment %}
        Separator
      {% endcomment %}
      {% include 'separator' %}

      {% comment %}
        Print
      {% endcomment %}
      <p>
        <a href="#" class="text-light print-link" onclick="window.print();"><i class="fa fa-print"></i>&nbsp;{{ 'gift_cards.issued.print' | t }}</a>
      </p>

    </main>

    {% include 'content-close' %}
  </div>
</div>
